/*style for all elements */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
  position: relative;
  overscroll-behavior: auto;
  list-style: none;
  padding: 0;
  float: none;
  border: none;
  outline: none;
}
/*body style */
body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(98, 17, 128, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* make account gray to inform user that we are in account */
#account {
  color: gray;
}
/*form style*/
form {
  top: 20px;
}
input {
  border: none;
  border-bottom: 1px solid white;
  background: none;
  margin: 8px 0;
}
.sign_div {
  width: 300px;
  height: 450px;
  left: 40%;
  top: 40px;
  text-align: center;
  background-color: #ffffff21;
}
::placeholder {
  color: #a9a9a9;
}
/*submit button style */
#submitButton {
  top: 10px;
  width: 60%;
  height: 40px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(16, 138, 223, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  overflow: hidden;
}
#submitButton:hover {
  cursor: pointer;
}
/*navbar style */
.navbar {
  background-color: #262626;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar li {
  font-size: larger;
  cursor: pointer;
  margin-left: 20px;
  color: #fff;
  position: relative;
}
/* effect : hover over a title of navbar it will underline */
.navbar li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
}

.navbar li:hover::after {
  width: 100%;
}
#account:hover::after {
  display: none;
}
#account {
  top: 15%;
  height: 50px;
}

.navbar a {
  text-decoration: none;
}
/*when hover over account it will display the submenu */
.navbar .sub-menu {
  font-size: smaller;
  display: none;
  background-color: #262626;
  padding: 10px;
  border-radius: 10px;
  left: 10%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.navbar li:hover .sub-menu {
  display: block;
}

.navbar .sub-menu a {
  display: block;
  color: white;
  margin-bottom: 5px;
}
/*username style */
.username {
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}
/* style for devices (up to 480px) */
@media (max-width: 480px) {
  .sign_div {
    width: 90%;
    left: 5%;
    top: 40px;
  }
}

/* style for devices(481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .sign_div {
    width: 90%;
    left: 5%;
    top: 40px;
  }
  #submitButton{
    width: 30%;
  }
}

/* style for devices (769px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .sign_div {
    width: 30%;
    left: 37%;
    top: 40px;
  }
}

/* style for devices (993px - 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
  .sign_div {
    width: 30%;
    left: 37%;
    top: 40px;
  }
}

/* style for devices(1201px and above) */
@media (min-width: 1201px) {
  .sign_div {
    width: 300px;
    height: 450px;
    left: 40%;
    top: 40px;
  }
}